<nav class="fixed flex flex-wrap items-center justify-between navbar-expand-lg h-14 bg-yellow-500 ">
    <div class="bg-yellow-500 w-screen flex flex-row justify-between items-center">
      <!-- this can eventually be the logo -->
      <h1
        class="nav-item text-2xl opacity-50 px-3 py-2 ml-10 pl-10 flex items-center font-semibold leading-snug gray-800 hover:opacity-75">
        <a href="/">
          Cafe
        </a>
      </h1>
      <ul class="flex flex-row w-full items-center justify-end">
        <li class="nav-item">
          <a class="text-2xl px-3 py-2 opacity-50 flex items-center font-semibold leading-snug text-black hover:opacity-75"
            href="articles">
            Articles
          </a>
        </li>
        <li class="nav-item">
          <a class="text-2xl px-3 py-2 opacity-50 flex items-center  font-semibold leading-snug text-black hover:opacity-75"
            href="contact">
            Contact
          </a>
        </li>
      </ul>
    </div>
  </nav>


  <section class="flex pt-16 mx-16 ">
    <div class="w-1/2">
      <div class="self-center p-6 m-7 pt-10">
        <h1 class="text-5xl font-bold leading-tight mb-6">
          An exclusive social media app built <span class="text-yellow-600"> by artists</span>,
          <span class="text-yellow-600 "> for artists</span>.
        </h1>
        <p class="text-lg leading-relaxed mb-6">
          We're taking inspiration to combine the <b>best features </b>from the most popular apps right now (Clubhouse,
          Instagram, LinkedIn), to build a social network
          to <b>connect and promote emerging creators </b> from diverse backgrounds.
          If you're a creator of any sort — whether you're a <b>painter</b>, <b>photographer</b>,
          <b>musician</b>, <b>writer</b>, etc. — <span class="text-yellow-600 font-bold"> we'd love for you to join
            Cafe! </span>
        </p>
      </div>

    </div>
    <div class="w-1/2">
      <div class="flex self-center p-12 m-12 mt-0 pt-3 mb-2 pb-2">
        <img src="./img/poster.jpg" alt="cafe poster" height="400px" class="shadow-lg" />
      </div>
    </div>
  </section>

  <section class="bg-gray-200 ">
    <div class="text-center p-6 m-7 pt-16 mb-0 ">
      <h1 class="text-5xl font-bold leading-tight mb-6">
        Our team:
      </h1>
    </div>

    <div class="flex">

      <div class="flex w-1/2 m-6 justify-center ml-24 mb-20">
        <div>
          <img src="./img/default.png" class="shadow-lg rounded-full h-32 w-32 ml-0" style="object-fit: cover;" />
          <br />
          <div class="text-center">
            <p class="text-lg leading-relaxed mb-1 font-semibold">
              Sean Fitzgerald
            </p>
            <p class="text-md leading-relaxed mb-1 font-semibold italic">
              <span class="text-yellow-900"> Brown ?? </span>
            </p>
            <i class="mb-5">CEO, Founder</i>
          </div>

        </div>

      </div>

      <div class="flex w-1/2 m-6 justify-center mr-24 mb-20">
        <div>
          <img src="./img/default.png" class="shadow-lg rounded-full h-32 w-32 ml-2" style="object-fit: cover;" />
          <br />
          <div class="text-center">
            <p class="text-lg leading-relaxed mb-1 font-semibold">
              Jackson Delea
            </p>
            <p class="text-md leading-relaxed mb-1 font-semibold italic">
              <span class="text-yellow-900"> Brown ?? </span>
            </p>
            <i class="mb-5">CCO, Founder?</i>
          </div>

        </div>

      </div>
    </div>

    <div class="flex">
      <div class="flex w-1/2 m-6 justify-center ml-24 mb-20">
        <div>
          <div class="text-center">
            <div class="text-center">
              <img src="./img/will.jpeg" class="shadow-lg rounded-full h-32 w-32 ml-4"
                style="object-fit: cover;" />
            </div>
            <br />
            <p class="text-lg leading-relaxed mb-1 font-semibold">
              Will Chen
            </p>
            <p class="text-md leading-relaxed mb-1 font-semibold italic">
              <span class="text-yellow-900"> Brown '23 </span>
            </p>
            <i class="mb-5">Technical Co-founder, <br /> Full Stack Developer</i>
            <!-- <div class="justify-center">
              <div class="mt-5 shadow-md bg-white rounded-xl w-1\/2 p-4">
                <p class="text-gray-900">Hi all! I'm a currently sophomore
                  concentrating in Computer Science - Economics @ Brown University.
                  I'm a musician and a composer, and I love to play and listen to jazz.

                </p>
              </div>
            </div> -->


          </div>

        </div>
      </div>

      <div class="flex w-1/2 m-6 justify-center mr-24 mb-20">
        <div>
          <img src="./img/default.png" class="shadow-lg rounded-full h-32 w-32 ml-3" style="object-fit: cover;" />
          <br />
          <div class="text-center">
            <p class="text-lg leading-relaxed mb-1 font-semibold">
              Desi DeVaul
            </p>
            <p class="text-md leading-relaxed mb-1 font-semibold italic">
              <span class="text-yellow-700"> Princeton '24</span>
            </p>
            <i class="mb-5">Full Stack Developer</i>
          </div>

        </div>
      </div>

    </div>
  </section>