<nav class="fixed flex flex-wrap items-center justify-between navbar-expand-lg h-14 bg-yellow-500 ">
    <div class="bg-yellow-500 w-screen flex flex-row justify-between items-center">
      <!-- this can eventually be the logo -->
      <h1
        class="nav-item text-2xl opacity-50 px-3 py-2 ml-10 pl-10 flex items-center font-semibold leading-snug gray-800 hover:opacity-75">
        <a href="/">
          Cafe
        </a>
      </h1>
      <ul class="flex flex-row w-full items-center justify-end">
        <li class="nav-item">
          <a class="text-2xl px-3 py-2 opacity-50 flex items-center font-semibold leading-snug text-black hover:opacity-75"
            href="articles">
            About
          </a>
        </li>
        <li class="nav-item">
          <a class="text-2xl px-3 py-2 opacity-50 flex items-center  font-semibold leading-snug text-black hover:opacity-75"
            href="contact">
            Contact
          </a>
        </li>
      </ul>
    </div>
</nav>
<div class="flex flex-col justify-center items-center">
  <h1 class="pt-20 text-2xl">{{article.title}}</h1>
  <p class="pt-10">{{article.text}}</p>
</div>

