<nav class="fixed flex flex-wrap items-center justify-between navbar-expand-lg h-14 bg-yellow-500 ">
        <div class="bg-yellow-500 w-screen flex flex-row justify-between items-center">
            <!-- this can eventually be the logo -->
            <h1 class="nav-item text-2xl opacity-50 px-3 py-2 flex items-center font-semibold leading-snug text-black hover:opacity-75">
                <a href="/">
                    Cafe
                </a>
            </h1>
            <ul class="flex flex-row w-full flex items-center justify-end">          
            <li class="nav-item">
                <a class="px-3 py-2 text-2xl opacity-50 flex items-center font-semibold leading-snug text-black hover:opacity-75" href="articles">
                Articles
                </a>
            </li>
            <li class="nav-item">
                <a class="px-3 py-2 text-2xl opacity-50 flex items-center font-semibold leading-snug text-black hover:opacity-75" href="about">
                About
                </a>
            </li>
            </ul>
    </div>
    </nav>
    <div class="pt-16 flex flex-col justify-center items-center p-2">
        <p>cafe@gmail.com</p>
    </div>